:8080
root * usr/share/caddy
file_server browse

log {
    output stdout
}

basicauth /5aaed9b7-7fe3-47c3-bb52-db59859ce198/* {
    5aaed9b7-7fe3-47c3-bb52-db59859ce198 $2a$14$MIi9QziExC0S6vI8RRvQ2eH7ppu7EulnJ329WanB3wXgajai.dBzy
}


@websocket_xray_trojan {
  path /5aaed9b7-7fe3-47c3-bb52-db59859ce198-trojan
}
reverse_proxy @websocket_xray_trojan 127.0.0.1:7003

@websocket_xray_ss {
  path /5aaed9b7-7fe3-47c3-bb52-db59859ce198-ss
}
reverse_proxy @websocket_xray_ss 127.0.0.1:4234

@websocket_xray_socks {
  path /5aaed9b7-7fe3-47c3-bb52-db59859ce198-socks
}
reverse_proxy @websocket_xray_socks 127.0.0.1:5234
